In [1]:
import os
import pandas as pd

In [4]:
mojo_2014=pd.read_csv("Box Office Mojo 2014.csv")
mojo_2015=pd.read_csv("Box Office Mojo 2015.csv")
mojo_2016=pd.read_csv("Box Office Mojo 2016.csv")
mojo_2017=pd.read_csv("Box Office Mojo 2017.csv")
mojo_2018=pd.read_csv("Box Office Mojo 2018.csv")

mojo_df=pd.concat([mojo_2014, mojo_2015, mojo_2016, mojo_2017, mojo_2018])
mojo_df

,Unnamed: 0,Movie Title,Total Gross,Release Date,Production Company,Year
0,0,Guardians of the Galaxy,"$333,176,600",Aug 1,Walt Disney Studios Motion Pictures\n\n,2014
1,1,The Hunger Games: Mockingjay - Part 1,"$337,135,885",Nov 21,Lionsgate\n\n,2014
2,2,Captain America: The Winter Soldier,"$259,766,572",Apr 4,Walt Disney Studios Motion Pictures\n\n,2014
3,3,The Lego Movie,"$257,760,692",Feb 7,Warner Bros.\n\n,2014
4,4,Transformers: Age of Extinction,"$245,439,076",Jun 27,Paramount Pictures\n\n,2014
...,...,...,...,...,...,...
988,988,Around India with a Movie Camera,"$10,389",Nov 30,Icarus Films\n\n,2018
989,989,Far from Vietnam,"$8,132",Aug 28,Icarus Films\n\n,2018
990,990,Tosca's Kiss,"$18,236",Jun 6,Icarus Films\n\n,2018
991,991,A Man Vanishes2012 Re-release,"$6,201",Nov 15,Icarus Films\n\n,2018
992,992,Realms,$147,Sep 7,The Film Arcade\n\n,2018